<form [formGroup]="accountForm">
  <div class="form-container">
    <div class="row mb-2">
      <div class="col-12">
        <h2>Add new account</h2>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group">
          <label for="accountName" class="form-label">Name of the account</label>
          <input type="text" class="form-control" id="accountName" formControlName="accountName" placeholder="Enter account name"
            [ngClass]="{ 'is-invalid': f['accountName'].touched && f['accountName'].errors}"/>
          <div class="invalid-feedback">
            <div class="text-danger" *ngIf="f['accountName'].errors?.['required']">
              Account name is required.
            </div>
            <div class="text-danger" *ngIf="f['accountName'].errors?.['pattern']">
              Invalid characters used. Only letters, numbers and spaces allowed.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group">
          <label for="institutionName" class="form-label">Name of the institution</label>
          <input type="text" class="form-control" id="institutionName" formControlName="institutionName" placeholder="Enter institution name"
            [ngClass]="{'is-invalid': f['institutionName'].touched && f['institutionName'].errors}"/>
          <div class="invalid-feedback">
            <div class="text-danger" *ngIf="f['institutionName'].errors?.['required']">
              Institution name is required.
            </div>
            <div class="text-danger" *ngIf="f['institutionName'].errors?.['pattern']">
              Invalid characters used. Only letters and spaces allowed.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group">
          <label for="accountType" class="form-label">Select Account</label>
          <ng-select formControlName="accountType" [items]="accountTypes" placeholder="Select Account"
            [ngClass]="{'is-invalid': f['accountType'].touched && f['accountType'].errors }"></ng-select>
          <div class="invalid-feedback">
            <div class="text-danger" *ngIf="f['accountType'].errors?.['required']">
              Please select an account type.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <div class="form-group">
          <label for="accountNumber" class="form-label">Last four digits of the account number</label>
          <input type="text" class="form-control" id="accountNumber" formControlName="accountNumber" maxlength="4"
            [ngClass]="{ 'is-invalid': f['accountNumber'].touched && f['accountNumber'].errors}"/>
          <div class="invalid-feedback">
            <div class="text-danger" *ngIf="f['accountNumber'].errors?.['required']">
              Account number is required.
            </div>
            <div class="text-danger" *ngIf="f['accountNumber'].errors?.['pattern']">
              Invalid account number.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <button class="btn btn-primary rounded-4 py-3 px-5" [disabled]="!accountForm.valid" (click)="onSubmit()">
          Add Account
        </button>
      </div>
    </div>

  </div>
</form>
