.form-container {
    width: 100%;
    max-width: 400px;
    margin:0 auto;
    margin-top: 10px; 
  margin-bottom: 20px;
  padding: 10px; 
   
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button:hover {
   background: rgba(255, 255, 255, 0.4);

}

 .custom-label {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }