<form [formGroup]="mappingForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <h4 class="heading">Please select the corresponding column:</h4>

    <div class="form-row">
      <label for="date">Date:</label>
      <div>
        <ng-select
          id="date"
          formControlName="date"
          [items]="csvHeaders"
          bindLabel="name"
          bindValue="value"
        ></ng-select>
      </div>
    </div>

    <div class="form-row">
      <label for="narration">Narration:</label>
      <div>
        <ng-select
          id="narration"
          formControlName="narration"
          [items]="csvHeaders"
          bindLabel="name"
          bindValue="value"
        ></ng-select>
      </div>
    </div>

    <div class="form-row">
      <label for="debitAmount">Debit Amount:</label>
      <div>
        <ng-select
          id="debitAmount"
          formControlName="debitAmount"
          [items]="csvHeaders"
          bindLabel="name"
          bindValue="value"
        ></ng-select>
      </div>
    </div>

    <div class="form-row">
      <label for="creditAmount">Credit Amount:</label>
      <div>
        <ng-select
          id="creditAmount"
          formControlName="creditAmount"
          [items]="csvHeaders"
          bindLabel="name"
          bindValue="value"
        ></ng-select>
      </div>
    </div>

    <div class="form-row">
      <label for="balance">Balance:</label>
      <div>
        <ng-select
          id="balance"
          formControlName="balance"
          [items]="csvHeaders"
          bindLabel="name"
          bindValue="value"
        ></ng-select>
      </div>
    </div>

    <div class="button-container">
      <button
        class="btn btn-primary rounded-4 py-2 px-5 custom-button"
        type="submit"
      >
        Confirm
      </button>
    </div>
  </div>
</form>