<div class="row">
    <div class="col-12">
        <h1>Debt to Income Ratio Calculator</h1>
        <form [formGroup]="DebttoIncomeRatioCalculatorForm">
            <div class="form-group col-6">
                <h2 class="mt-5">Debt Payments</h2>
                <div>
                    <label for="mortgagePayments" class="label col-sm-6 col-form-label mt-4">Mortgage/Rent Payments</label>
                    <input type="number" class="ms-5 input" formControlName="mortgagePayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['mortgagePayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['mortgagePayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['mortgagePayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['mortgagePayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['mortgagePayments'].hasError('negativeValue')" class="text-danger">
                        Mortgage/Rent Payments are required
                    </div>
                </div>
                <div>
                    <label for="carLoanPayments" class="label col-sm-6 col-form-label mt-4">Car Loan Payments</label>
                    <input type="number" class="ms-5 input" formControlName="carLoanPayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['carLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['carLoanPayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['carLoanPayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['carLoanPayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['carLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Car Loan Payments are required
                    </div>
                </div>
                <div>
                    <label for="studentLoanPayments" class="label col-sm-6 col-form-label mt-4">Student Loan Payments</label>
                    <input type="number" class="ms-5 input" formControlName="studentLoanPayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['studentLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['studentLoanPayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['studentLoanPayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['studentLoanPayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['studentLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Student Loan Payments are required
                    </div>
                </div>
                <div>
                    <label for="creditCardPayments" class="label col-sm-6 col-form-label mt-4">Credit Card Payments</label>
                    <input type="number" class="ms-5 input" formControlName="creditCardPayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['creditCardPayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['creditCardPayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['creditCardPayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['creditCardPayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['creditCardPayments'].hasError('negativeValue')" class="text-danger">
                        Credit Card Payments are required
                    </div>
                </div>
                <div>
                    <label for="personalLoanPayments" class="label col-sm-6 col-form-label mt-4">Personal Loan Payments</label>
                    <input type="number" class="ms-5 input" formControlName="personalLoanPayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['personalLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['personalLoanPayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['personalLoanPayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['personalLoanPayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['personalLoanPayments'].hasError('negativeValue')" class="text-danger">
                        Personal Loan Payments are required
                    </div>
                </div>
                <div>
                    <label for="otherDebtPayments" class="label col-sm-6 col-form-label mt-4">Other Debt Payments</label>
                    <input type="number" class="ms-5 input" formControlName="otherDebtPayments" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['otherDebtPayments'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['otherDebtPayments'].invalid && (DebttoIncomeRatioCalculatorForm.controls['otherDebtPayments'].dirty || DebttoIncomeRatioCalculatorForm.controls['otherDebtPayments'].touched) && !DebttoIncomeRatioCalculatorForm.controls['otherDebtPayments'].hasError('negativeValue')" class="text-danger">
                        Other Debt Payments are required
                    </div>
                </div>
                <h2 class="mt-5">Income Sources</h2>
                <div>
                    <label for="salaryWages" class="label col-sm-6 col-form-label mt-4">Salary/Wages</label>
                    <input type="number" class="ms-5 input" formControlName="salaryWages" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['salaryWages'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['salaryWages'].invalid && (DebttoIncomeRatioCalculatorForm.controls['salaryWages'].dirty || DebttoIncomeRatioCalculatorForm.controls['salaryWages'].touched) && !DebttoIncomeRatioCalculatorForm.controls['salaryWages'].hasError('negativeValue')" class="text-danger">
                        Salary/Wages are required
                    </div>
                </div>
                <div>
                    <label for="bonusesCommissions" class="label col-sm-6 col-form-label mt-4">Bonuses/Commissions</label>
                    <input type="number" class="ms-5 input" formControlName="bonusesCommissions" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['bonusesCommissions'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['bonusesCommissions'].invalid && (DebttoIncomeRatioCalculatorForm.controls['bonusesCommissions'].dirty || DebttoIncomeRatioCalculatorForm.controls['bonusesCommissions'].touched) && !DebttoIncomeRatioCalculatorForm.controls['bonusesCommissions'].hasError('negativeValue')" class="text-danger">
                        Bonuses/Commissions are required
                    </div>
                </div>
                <div>
                    <label for="rentalIncome" class="label col-sm-6 col-form-label mt-4">Rental Income</label>
                    <input type="number" class="ms-5 input" formControlName="rentalIncome" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['rentalIncome'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['rentalIncome'].invalid && (DebttoIncomeRatioCalculatorForm.controls['rentalIncome'].dirty || DebttoIncomeRatioCalculatorForm.controls['rentalIncome'].touched) && !DebttoIncomeRatioCalculatorForm.controls['rentalIncome'].hasError('negativeValue')" class="text-danger">
                        Rental Income is required
                    </div>
                </div>
                <div>
                    <label for="investmentIncome" class="label col-sm-6 col-form-label mt-4">Investment Income</label>
                    <input type="number" class="ms-5 input" formControlName="investmentIncome" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['investmentIncome'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['investmentIncome'].invalid && (DebttoIncomeRatioCalculatorForm.controls['investmentIncome'].dirty || DebttoIncomeRatioCalculatorForm.controls['investmentIncome'].touched) && !DebttoIncomeRatioCalculatorForm.controls['investmentIncome'].hasError('negativeValue')" class="text-danger">
                        Investment Income is required
                    </div>
                </div>
                <div>
                    <label for="otherIncomeSources" class="label col-sm-6 col-form-label mt-4">Other Income Sources</label>
                    <input type="number" class="ms-5 input" formControlName="otherIncomeSources" required (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['otherIncomeSources'].hasError('negativeValue')" class="text-danger">
                        Negative values are not allowed
                    </div>
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls['otherIncomeSources'].invalid && (DebttoIncomeRatioCalculatorForm.controls['otherIncomeSources'].dirty || DebttoIncomeRatioCalculatorForm.controls['otherIncomeSources'].touched) && !DebttoIncomeRatioCalculatorForm.controls['otherIncomeSources'].hasError('negativeValue')" class="text-danger">
                        Other Income Sources are required
                    </div>
                </div>

                <div class="buttons mt-4">
                    <button type="reset" class="resetButton btn btn-secondary text-white" (click)="resetForm()">Reset</button>
                    <button type="button" class="ms-3 calculateButton btn btn-primary" (click)="calculate()" [disabled]="DebttoIncomeRatioCalculatorForm.invalid || hasNegativeValue">Calculate</button>
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger label col-6 mt-3">{{errorMessage}}</div>
        </form>
        <div class="result mt-3 col-6">
            <div class="result-item">
                <label for="dtiRatio" class="label col-sm-6 col-form-label mt-4">Debt-to-Income Ratio (%)</label>
                <input type="text" class="input ms-3" [value]="dtiRatio | number : '1.2-2'" readonly />
            </div>
        </div>
    </div>
</div>
