<div class="row">
    <div class="col-12">
        <h1>Debt to Income Ratio Calculator</h1>
        <form [formGroup]="DebttoIncomeRatioCalculatorForm">
            <div class="form-group col-6">
                <h2 class="mt-5">Debt Payments (Monthly)</h2>
                <div *ngFor="let field of debtFields">
                    <label [for]="field.name" class="label col-sm-6 col-form-label mt-4">{{ field.label }}</label>
                    <input type="number" class="ms-5 input" [formControlName]="field.name" required
                        (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls[field.name].hasError('negativeValue')"
                        class="text-danger">
                        Negative values are not allowed
                    </div>
                </div>
                <h2 class="mt-5">Income Sources (Monthly)</h2>
                <div *ngFor="let field of incomeFields">
                    <label [for]="field.name" class="label col-sm-6 col-form-label mt-4">{{ field.label }}</label>
                    <input type="number" class="ms-5 input" [formControlName]="field.name"
                        (input)="checkForNegativeValues()" />
                    <div *ngIf="DebttoIncomeRatioCalculatorForm.controls[field.name].hasError('negativeValue')"
                        class="text-danger">
                        Negative values are not allowed
                    </div>
                </div>
                <div class="buttons mt-4">
                    <button type="reset" class="resetButton btn btn-secondary text-white"
                        (click)="resetForm()">Reset</button>
                    <button type="button" class="ms-3 calculateButton btn btn-primary" (click)="calculate()"
                        [disabled]="!isFormValid()">Calculate</button>
                </div>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger label col-6 mt-3">{{errorMessage}}</div>
        </form>
        <div class="result mt-3 col-6">
            <div class="result-item">
                <label for="dtiRatio" class="label col-sm-6 col-form-label mt-4">Debt-to-Income Ratio:</label>
                <input type="text" class="input ms-3" [value]="dtiRatio | number : '1.2-2'" readonly />
            </div>
        </div>
    </div>
</div>