<div class="container">
    <div class="row m-5 p-3" [formGroup]="statementFiltersForm">
        <div class="col-4">
            <label class="form-label mb-3">From Date </label>
            <input class="form-control bi bi-x"  
            placeholder="Form Date"
            name="formDatePicker"
            ngbDatepicker 
            #formDatePicker="ngbDatepicker" 
            formControlName="fromDate"
            [maxDate]="maxDate"
            (dateSelect)="onDateSelect($event, 'fromDate')"
            (click)="formDatePicker.toggle()"
            required
             />
        </div>
        <div class="col-4">
            <label class="form-label mb-3">To Date </label>
            <input class="form-control bi bi-x"
            placeholder="To Date"
            name="toDatePicker"
            ngbDatepicker 
            #toDatePicker="ngbDatepicker" 
            formControlName="toDate"
            [minDate]="minToDate"
            [maxDate]="maxDate"
            required (click)="toDatePicker.toggle()" />
        </div>
        <div class="col-4">
            <label class="form-label mb-2 ">TransactionAccount </label>
            <ng-select [items]="Account"
                       bindLabel="name"
                       placeholder="Select Account"
                       formControlName="account">
            </ng-select>
        </div>
        <div class="col-4">
            <label class="form-label mb-3 mt-3">TransactionType</label>
            <ng-select [items]="type"
                    bindLabel="name"
                    placeholder="Select Transaction Type"
                    formControlName="type">
            </ng-select>
        </div>
        <div class="col-4 mt-5">
            <button class="btn btn-primary" [disabled]="!statementFiltersForm.valid" (click)="search()">Search</button>
        </div>
    </div>
    <div class="row m-5 p-3">

        <ngx-datatable class="bootstrap"
            [rows]="rows"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50" 
            [rowHeight]="'auto'">
        </ngx-datatable>
    </div>
</div>