.quote-box {
  height: calc(100vh - 200px);
  border-radius: 0px 10px 10px 0px;
  font-weight: normal;
}

.bg-green {
  background-color: #18b091;
}

.logo-section {
  height: 100px;
}

.auth-section {
  min-height: calc(100vh - 150px);
}

.privacy-policy-section {
  height: 50px;
}

.footnote {
  color: #212529;
}

