.quote-box {
    height: calc(100vh - 200px);
    border-radius: 0px 10px 10px 0px;
}

.logo-section {
    height: 100px;
}

.auth-section {
    min-height: calc(100vh - 150px); 
}

.privacy-policy-section {
    height: 50px;
}
.momtens{
    font-size: 48px;
}
