<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="row">
            <div class="col-4 bg-green ps-5">
                <img src="assets/images/logo.png" alt="logo" class="logo">
            </div>
        </div>
        <div class="row">

            <div class="col-sm-8 col-md-4 bg-green pe-0 ps-5">
                <router-outlet></router-outlet>
            </div>
            <div class="col-sm-4 col-md-8 ps-0 pe-5">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="card bg-green text-white quote-box">
                        <div class="card-body">
                            <p class="text-center mb-4 text-bold" style="font-size: 48px;" >MOMENTS</p>
                            <p class="d-flex justify-content-center" style="font-size: 40px;"> "Formal education will make you a living; self-education will make you a fortune." </p>
                            <h3 class="d-flex justify-content-end" style="font-size: 40px;"> - Jim Rohn, Entrepreneur</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>