<form>
    <div class="form-row">
        <div class="col-4 mb-3 mt-3 ml-3 mr-4">
            <label for="name">First name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="col-4 mb-3 mt-3 ml-3 mr-4">
            <label for="name">Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone Number/Mobile ">
        </div>
        <div class="col-4 mb-3 mt-3 ml-3 mr-4">
          <label for="name">email </label>
          <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="col-4 mb-3 mt-3 ml-3 mr-4">
        <label for="name">Password </label>
        <input type="password" class="form-control" id="Password" placeholder="password">
    </div>
    <div class="col-4 mb-3 mt-3 ml-3 mr-4">
      <label for="name">Date of Birth</label>
      <input type="date" class="form-control" id="date" >
  </div>
          <div class="col-4 mb-3 mt-3 ml-3 mr-4">
          <label for="cars">Country :</label>
          <select type="dropdown" class="form-control" id="dropdown">
            <option value="India">India</option>
            <option value="US">US</option>
            <option value="UK">UK</option>
            <option value="Australia">Australia</option>
            <option value="France">France</option>
          </select>
        </div>
    </div>
</form>
