
    <h1 class="emi">EMI Calculator</h1>
    <p class="page_subtitle">Calculate monthly EMI</p>
   <form>
      <div class="form-group">
            <label for="principal" class="form-label principal-label">Principal:</label>
            <input type="number" [(ngModel)]="principal" name="principal" class="principal-input" required>
        </div>

        <div class="form-group">
            <label for="interestRate" class="form-label interest-rate-label">Interest Rate:</label>
            <input type="number" [(ngModel)]="interestRate" name="interestRate" class="interest-rate-input" step="0.01" required>
            <span>%</span>
        </div>

        <div class="form-group">
            <label for="time" class="form-label time-label">Time:</label>
            <input type="number" [(ngModel)]="time" name="time" class="time-input" required>
            <span>Years</span>
        </div>

        <div class="buttons">
            <button type="reset"class="resetbutton" (click)="resetForm()">Reset</button>
            <button type="button"class="calculatebutton" (click)="calculateEMI()">Calculate</button>
        </div>
    </form>
    <div class="result">
        <div class="result-item">
            <label for="totalAmount"class="totalAmount">Total Amount:</label>
            <input type="text" id="totalAmount" [value]="totalAmount | number:'1.2-2'" readonly>
        </div>
        <div class="result-item">
            <label for="monthlyEMI"class="EMI">Monthly EMI:</label>
            <input type="text" id="monthlyEMI" [value]="monthlyEMI | number:'1.2-2'" readonly>
        </div>
        <div class="result-item">
            <label for="totalInterestPaid"class="interestPaid">Total Interest Paid:</label>
            <input type="text" id="totalInterestPaid" [value]="totalInterestPaid | number:'1.2-2'" readonly>
        </div>
    </div>