.emi {
  width: 474px;
  height: 58px;
  left: 280px;
  top: 75px;
  margin-left: 31px;
  margin-top: 25px;
}

.page_subtitle {
  width: 342px;
  height: 29px;
  left: 280px;
  top: 153px;
  margin-left: 31px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
body {
  font-family: Arial, sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
}
.principal-label {
  width: 83px;
  height: 30px;
  top: 234px;
  left: 280px;
  margin-top: 52px;
}
.principal-input {
  width: 356px;
  height: 45px;
  top: 225px;
  left: 411px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 43px;
  margin-left: 48px;
}
.interest-rate-label {
  width: 118px;
  height: 30px;
  top: 304px;
  left: 280px;

  margin-top: 40px;
  white-space: nowrap;
}
.interest-rate-input {
  width: 132px;
  height: 45px;
  top: 295px;
  left: 411px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 25px;
  margin-left: 13px;
}
.time-label {
  width: 50px;
  height: 30px;
  top: 363px;
  left: 280px;
  margin-top: 20px;
}
.time-input {
  width: 129px;
  height: 45px;
  top: 354px;
  left: 411px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 14px;
  margin-left: 81px;
}
.form-label {
  gap: 0px;
  opacity: 0px;
  margin-left: 31px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

/* 
.form-group input {
  width: 356px;
  height: 45px;
  top: 225px;
  left: 411px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
} */
button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.resetbutton {
  width: Hug (67px) px;
  height: Hug (38px) px;
  top: 429px;
  left: 280px;
  padding: 6px 12px 6px 12px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(108, 117, 125, 1);
  border: 1px solid rgba(108, 117, 125, 1);
  margin-top: 36px;
  margin-left: 31px;
}
.calculatebutton {
  width: Hug (92px) px;
  height: Hug (36px) px;
  top: 429px;
  left: 358px;
  padding: 6px 12px 6px 12px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: var(--brand-selected-item, rgba(22, 163, 134, 1));
  margin-top: 30px;
  margin-left: 11px;
}
.totalAmount {
  width: 126px;
  height: 30px;
  top: 514px;
  left: 280px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 47px;
  margin-left: 31px;
}
.EMI {
  width: 116px;
  height: 30px;
  top: 579px;
  left: 280px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 35px;
  margin-left: 31px;
}
.interestPaid {
  width: 167px;
  height: 30px;
  top: 644px;
  left: 280px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 35px;
  margin-left: 31px;
}
#totalAmount {
  width: 356px;
  height: 45px;
  top: 505px;
  left: 469px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-left: 63px;
  margin-top: 40px;
}
#monthlyEMI {
  width: 356px;
  height: 45px;
  top: 570px;
  left: 469px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-left: 73px;
}
#totalInterestPaid {
  width: 356px;
  height: 45px;
  top: 635px;
  left: 469px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-left: 22px;
}
