
    <h1 class="emi">EMI Calculator</h1>
    <p class="page_subtitle">Calculate monthly EMI</p>
   <form>
        <div class="form-group">
            <label for="principal" class="form-label">Principal:</label>
            <input type="number" [(ngModel)]="principal" name="principal" required>
        </div>

        <div class="form-group">
            <label for="interestRate" class="form-label">Interest Rate:</label>
            <input type="number" [(ngModel)]="interestRate" name="interestRate" step="0.01" required>
            <span>%</span>
        </div>

        <div class="form-group">
            <label for="time" class="form-label">Time:</label>
            <input type="number" [(ngModel)]="time" name="time" required>
            <span>Years</span>
        </div>

        <div class="buttons">
            <button type="button" (click)="calculateEMI()">Calculate</button>
            <button type="reset" (click)="resetForm()">Reset</button>
        </div>
    </form>
    <div class="result">
        <div class="result-item">
            <label for="totalAmount">Total Amount:</label>
            <input type="text" id="totalAmount" [value]="totalAmount | number:'1.2-2'" readonly>
        </div>
        <div class="result-item">
            <label for="monthlyEMI">Monthly EMI:</label>
            <input type="text" id="monthlyEMI" [value]="monthlyEMI | number:'1.2-2'" readonly>
        </div>
        <div class="result-item">
            <label for="totalInterestPaid">Total Interest Paid:</label>
            <input type="text" id="totalInterestPaid" [value]="totalInterestPaid | number:'1.2-2'" readonly>
        </div>
    </div>