<div class="container-fluid bd-gutter bd-layout bg-rov-primary">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="d-flex p-0">
            <app-sidebar></app-sidebar>
            <div class="flex-grow-1 bg-rov-secondary p-2">
                <router-outlet>
                    
                </router-outlet>
            </div>
        </div>
    </div>
</div>
<footer class="p-2">
    &copy; {{year}} Rovisor Moments. Rovisor&trade; and "Rovisor Moments"&trade; are trademarks of <a href="http://www.rovisor.in">rovisor.in</a>. v{{version}}
</footer>
