
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="#page-top">Rovisor Moments</a>
          <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                          href="#portfolio">Moments</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                          href="#about">About</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <router-outlet></router-outlet>

   <!-- Footer-->
   <footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contact</h4>
                <p class="lead mb-0">
                    info@rovisor.in
                    <br />
                    @Rovisor

                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/rovisor" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://twitter.com/rovisor_in" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://www.linkedin.com/in/rovisor/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://discord.com/channels/1147578991826448424/1147578992279429142" target="_blank"><fa-icon [icon]="faDiscord"></fa-icon></a>
                <a class="btn btn-outline-dark btn-social mx-1" href = "https://www.instagram.com/rovisor.moments/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Rovisor</h4>
                <p class="lead mb-0">
                    Rovisor is a modern Robo Advisor that is being developed to make everyone's life easier.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; rovisor.in, 2023</small></div>
</div>
