<div class="d-flex align-items-center justify-content-end">
    <div class="card login-box w-100">
        <div class="card-body" style="min-height: 480px;">
            <div class="text-end ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </div>
            <h1 class="text-green text-center mb-5">Reset Password</h1>
            <form [formGroup]="resetPasswordForm">
                <h5 class="mt-5"> Enter your email id associated with this acount</h5>
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                   
                  </div>
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-green"
                            [disabled]="!resetPasswordForm.valid">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>