<div class="d-flex align-items-center justify-content-end">
    <div class="card login-box w-100">
        <div class="card-body" style="min-height: 480px;">
            <div class="text-end">
                <i class="bi bi-x"></i>
            </div>
            <h1 class="text-green text-center mb-5">Create New Password</h1>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Password">
                    <label for="password">Enter the password</label>
                  </div>
                  <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        placeholder="Password">
                    <label for="confirmPassword">Confirm the password</label>
                  </div>
                  <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.touched">
                    Passwords don't match
                  </div>
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-green" [disabled]="resetPasswordForm.invalid || resetPasswordForm.hasError('mismatch')">Save changes and Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>