<h1>Registration-1</h1>

<h1>{{ title }}</h1>
<form [formGroup]="userForm">
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"type="text"placeholder="Enter Name"id="name"formControlName="name"/>
        <div *ngIf="userForm.get('name').hasError('required')">
          Name is required.
        </div>
        <div *ngIf="userForm.get('name').hasError('minlength')">
          Name must be at least 6 characters long.
        </div>
        <div *ngIf="userForm.get('name').hasError('maxlength')">
          Name cannot be more than 16 characters long.
        </div>
        <div *ngIf="userForm.get('name').hasError('pattern')">
          Name should only contain alphabets.
        </div>
      </div>
    </div>
  </div>
</form>
