.forgot-password-box {
    height: calc(100vh - 200px);
    border-radius: 10px 0px 0px 10px;
}
.reset{
    color: #1ABC9B;
}
.message{
    color: #212529;
    font-size: 20px;
}
.button{
    background-color: #1ABC9B;
    font-size: 29px;
}
.cancel{
    font-size: 20px;
}
