<div class="container">
    <div class="row m-4">
        <div class="col-9">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="col-3 text-end">
            <button class="btn btn-primary btn-lg" (click)="openAddAccountModal()">
                <i class="bi bi-plus"></i>
                Add Account
            </button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-3 card ms-5 ">
            <div class="card-body font" >
                <p> Balance:</p>
            </div>
        </div>
        <div class="col-3 card ms-5 ">
            <div class="card-body font">
                <p>Credit Amount:</p>
            </div>
        </div>
        <div class="col-3 card ms-5 font">
            <div class="card-body">
                <p>Debit Amount:</p>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <h2>Upcoming Trancation</h2>
            </div>
        </div>
        <div class="col-3 mt-3">
            <h2>View Statement</h2>
        </div>
    </div>
    <div>
        <div class="col-3">
            <div class="form-group">
                <h5>From Date:
                <input class="form-control" 
                placeholder="yyyy-mm-dd"
                name="dp" 
                ngbDatepicker #d="ngbDatepicker" 
                [(ngModel)]="model" required></h5>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <h5>To Date :
                <input class="form-control" 
                placeholder="yyyy-mm-dd"
                name="dp" 
                ngbDatepicker #d="ngbDatepicker" 
                [(ngModel)]="model" required></h5>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <h5>TransactionAccount:
                <ng-select [items]="items"
                bindLabel="name"
                bindValue="id"
                placeholder="Select an option">
            </ng-select></h5>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <h5>TransactionType:
                <ng-select [items]="items2"
                bindLabel="name"
                bindValue="id"
                placeholder="Select an option">
            </ng-select></h5>

            </div>
        </div>

    </div>
</div>