<div class="container">
    <div class="row m-4">
        <div class="col-10">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="col-2 text-end">
            <button class="btn btn-primary btn-lg" (click)="openAddAccountModal()">
                <i class="bi bi-plus"></i>
                Add Account
            </button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-3 card ms-5 ">
            <div class="card-body font" >
                <p> Balance:</p>
            </div>
        </div>
        <div class="col-3 card ms-5 ">
            <div class="card-body font">
                <p>Credit Amount:</p>
            </div>
        </div>
        <div class="col-3 card ms-5 font">
            <div class="card-body">
                <p>Debit Amount:</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cpl-12 mt-3 bg-white" style="min-height: 250px;">
            <div>
                <h2>Upcoming Trancation</h2>
            </div>
        </div>
        <div class="col-3 mt-3">
            <h2>View Statement</h2>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <h5>From Date:</h5>
        </div>
        <div class="col-3">
            <div class="form-group">
                    <input class="form-control" 
                    name="toDatePicker" 
                    class="form-control"
                    ngbDatepicker #toDatePicker="ngbDatepicker" 
                    formControlName="toDate"
                    [minDate]="minToDate" 
                    [maxDate]="maxDate" (click)="toDatePicker.toggle()" />
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h5>To Date:</h5>
        </div>
        <div class="col-3">
            <div class="form-group">
                        <input class="form-control" 
                        name="toDatePicker" 
                        class="form-control"
                        ngbDatepicker #toDatePicker="ngbDatepicker" 
                        formControlName="toDate"
                        [minDate]="minToDate" 
                        [maxDate]="maxDate" (click)="toDatePicker.toggle()" />
                    
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h5>TransactionAccount:</h5>
        </div>
        <div class="col-3">
            <div class="form-group">
                <ng-select [items]="items"
                bindLabel="name"
                bindValue="id">
            </ng-select>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h5>TransactionType:</h5>
        </div>
        <div class="col-3">
            <div class="form-group"> 
                <ng-select [items]="items2"
                bindLabel="name"
                bindValue="id">
            </ng-select>

            </div>
        </div>

    </div>
</div>