.password-toggle {
    position: absolute;
    top: 32%;
    right: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
}
.margin{
    margin-left: 100px;
}
.background{
    background-color:#DBDEE7;
}
.form{
    font-size: 25px;
}
.text-decoration-none{
    text-decoration: none;
}
.card{
    background-color:#FEF7E5;
}