<div class="container">
    <div class="row m-4">
        <div class="col-10">
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input class="form-control" style="background-color:#DBDEE7" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <span class="input-group-text" style="background-color:#DBDEE7;"><i class="bi bi-search"></i></span>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-2 text-end">
            <button class="btn btn-primary btn-lg" (click)="openAddAccountModal()">
                <i class="bi bi-plus"></i>
                Add Account
            </button>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-3  ms-5 ">
            <div class="font bg-white"  >
                <b class="ms-3 fw-normal"> Balance: </b>
            </div>
        </div>
        <div class="col-3 ms-5 ">
            <div class="font bg-white font">
                <b class="ms-3 fw-normal">Credit Amount: </b>
            </div>
        </div>
        <div class="col-3  ms-5 ">
            <div class=" font bg-white">
                <b class="ms-3 fw-normal " >Debit Amount: </b>
            </div>
        </div>
    </div>
    <div class="row card m-4" style=" background-color:#FEF7E5;">
        <div class="col-12  card-body" style="min-height: 250px;">
            <div>
                <h2>Upcoming Trancation</h2>
            </div>
        </div>
    </div>
    <div class="row  m-3">
        <div>
            <h2>View Statement</h2>
        </div>
    </div>
    </div>
    <div class="row m-3">
        <div class="col-3 form ">
            <h2 class="fw-normal">From Date:</h2>
        </div>
        <div class="col-3">
            <div class="form-group">
                    <input class="form-control" 
                    name="toDatePicker" 
                    class="form-control"
                    ngbDatepicker #toDatePicker="ngbDatepicker" 
                    formControlName="toDate"
                    [minDate]="minToDate" 
                    [maxDate]="maxDate" (click)="toDatePicker.toggle()" />
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-3 form">
            <h2 class="fw-normal">To Date:</h2>
        </div>
        <div class="col-3">
            <div class="form-group">
                        <input class="form-control" 
                        name="toDatePicker" 
                        class="form-control"
                        ngbDatepicker #toDatePicker="ngbDatepicker" 
                        formControlName="toDate"
                        [minDate]="minToDate" 
                        [maxDate]="maxDate" (click)="toDatePicker.toggle()" />
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-3 form">
            <h2 class="fw-normal">Transaction type:</h2>
        </div>
        <div class="col-3">
            <div class="form-group">
                <ng-select [items]="items"
                bindLabel="name"
                bindValue="id">
            </ng-select>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-3 form">
            <h2 class="fw-normal"> Category:</h2>
        </div>
        <div class="col-3">
            <div class="form-group"> 
                <ng-select [items]="items2"
                bindLabel="name"
                bindValue="id">
            </ng-select>

            </div>
        </div>

    </div>
    <div class="row m-3">
    <div class="col-3">
        <button type="submit" class="btn btn-primary btn-green" >
            <a href="app/consolidate-statement" class="text-white no-underline">View</a></button>
    </div>
    </div>
