.password-toggle {
    position: absolute;
    top: 32%;
    right: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
}
.margin{
    margin-left: 100px;
}
.font{
    font-size: 29px;
}
.form{
    font-size: 25px;
}
.no-underline{
    text-decoration: none;
}