.account-name {
  margin-top: 34px;
  margin-left: 72px;
}

.upload-btn {
  margin-top: 33px;
}

.opening-balance-box {
  margin-left: 72px;
}

.credit-box {
  margin-left: 37px;
}

.debit-box {
  margin-left: 49px;
}

.closing-balance-box {
  margin-left: 49px;
}

.box {
  width: 199px;
  height: 140px;
  margin-top: 38px;
  /* margin-left: 72px; */
  border: 1px solid rgba(26, 188, 155, 1);
}
.box-title {
  color: #18b091;
  margin-top: 16px;
}
.text-margin {
  margin-left: 57px;
  margin-top: 35px;
}
.textmuted-margin {
  margin-left: 45px;
  margin-top: 17px;
}
.week-margin{
  margin-top: 72px;
  margin-left: 406px;
}
.custom-column {
    width: 140.5px;   
    border: 1px solid #212529; 
    
  }
  .tall-row {
    height: 115px; 
    margin-left: 100px;
    
  }
  .small-row{
    height: 33px;
    margin-left: 100px; 
  }
  
  .day-label {
  margin-top: 9px;
  font-weight: bold;
}
.positive-amount {
  margin-top: 30px;
}
.total-value {
  margin-right: 7px;
}

.button-container {
  position: relative;
}

.top-left-button {
  position: absolute;
  margin-left: 90px;
}

.top-right-button {
  position: absolute;
  right:24px;
}