<div class="row">
  <div class="col-9">
    <h1 class="text-regular">{{accountInfo.AccountName}}</h1>
  </div>
  <div class="col-3 text-end">
    <button class="btn btn-primary btn-lg upload-button" (click)="openUploadModal()">
      <i class="bi bi-plus"></i>
      Upload Statement
    </button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3 box text-center align-content-center">
      <h4 class="text-green">Opening Balance</h4>
      <p class="text-secondary d-block text-regular mt-4">₹6654.00</p>
  </div>
  <div class="col-3 box text-center align-content-center">
      <h4 class="text-green">Credit Amount</h4>
      <p class="text-secondary d-block text-regular mt-4">₹4314.00</p>
  </div>
  <div class="col-3 box text-center align-content-center">
      <h4 class="text-green align-text-middle">Debit Amount</h4>
      <p class="text-secondary d-block text-regular mt-4">₹5582.00</p>
  </div>
  <div class="col-3 box text-center align-content-center position-relative">
      <h4 class="text-green">Closing Balance</h4>
      <p class="text-secondary d-block text-regular mt-4">₹7922.00</p>
      <p class="d-block text-secondary text-muted position-absolute bottom-0 w-100 text-center">
        <span class="text-center">As on 22 Oct 2023</span></p>
  </div>
</div>
<div >
    <!-- <button class="sbutton" onclick="handleButtonClick()">Yo</button> -->
    <h4 class="text-regular week-margin roboto-font">This Week (16-22 Oct 2023)</h4>
  </div>

<div class="row small-row">
  <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">SUN</div>
  </div>
    <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">MON</div>
  </div>
      <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">TUE</div>
  </div>
    <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">WED</div>
  </div>
    <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">THU</div>
  </div>
    <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note ">FRI</div>
  </div>
    <div class="custom-column  ">
    <div class="day-label text-center text-regular roboto-font text-foot-note  ">SAT</div>
  </div>
</div>
<div class="row tall-row">
  <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note ">
    +₹150.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹300.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note ">
      -₹150.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹657.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹90.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note">
      ₹567.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹80.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹111.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note">
      -₹31.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹60.00
    </div>
    <div class="text-negative text-positive total-value text-end roboto-font text-foot-note">
      -₹0.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note">
      ₹60.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹435.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹213.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note ">
      ₹222.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹4,000.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹600.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note">
      ₹3,400.00
    </div>
  </div>
    <div class="  custom-column  ">
    <div class="positive-amount text-positive total-value text-end roboto-font text-foot-note">
    +₹200.00
    </div>
    <div class="text-negative total-value text-end roboto-font text-foot-note">
      -₹3,000.00
    </div>
    <div class="total-value text-end">
      -------------------
    </div>
    <div class="total-value text-end roboto-font text-foot-note">
      -₹2,800.00
    </div>
  </div>
</div>