.full-screen{
    min-height: calc(100vh - 60px);
    height:100%;
    width:200px;
    border-right: 1capx solid #29da73;
}

.bg-rov-primary-sidebar{
    background-color: #1ABC9B;
}

.nav-link span {
    font-size: 1.3rem;
}

.nav-item a:hover  {
    background-color: #154f43;
}

.active {
    background-color: #16A386;
    border-radius: 5px;
  }