.full-screen{
    min-height: calc(100vh - 70px);
    height:100%;
    width:250px;
    border-right: 1px solid #29da73;
}

.bg-rov-primary-sidebar{
    background-color: #1ABC9B;
}

.nav-link span {
    font-size: 1.3rem;
}

.active {
    background-color: #16A386;
    border-radius: 5px;
}

@media (max-width: 768px) { 
 .full-screen.bg-rov-primary-sidebar {
    display: none;
  }
 .btn.btn-primary.mobile-toggle {
    display: block;
  }
}

@media (max-width: 768px) {
 .full-screen.bg-rov-primary-sidebar.show-sidebar {
    display: block;
  }
}