.modal-body {
    max-height: calc(100vh - 210px);
    min-height: 100px;
    overflow-y: auto;
}
.modal-header {
    background-color: #d9d9d9;
    height: 30px;
}

.preview {
    margin-top: 20px;
}

.modal-title {
    margin-left: 20px;
}

#fileInput {
    border: 1px solid #000;
    margin-left: 30px;
    width: 700px;
}

.modal-footer {
    margin-right: 60px;
}