<form [formGroup]="uploadForm">
  <div class="modal-header">
    <h4 class="modal-title">Upload Statement</h4>
  </div>
  <div class="modal-body">
    <label for="fileInput"></label>
    <input type="file" accept=".csv" id="fileInput" formControlName="file" />
    <p class="preview">Preview</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" *ngIf="isButtonsVisible" (click)="cancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" *ngIf="isButtonsVisible" (click)="upload()"
      [disabled]="!isButtonsVisible">
      Upload
    </button>
  </div>
</form>