<form [formGroup]="uploadForm">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="bi bi-upload me-2"></i>Upload Statement
    </h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="cancel()"
    >
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col">
        <input
          class="form-control"
          type="file"
          accept=".csv"
          formControlName="file"
          (change)="onFileChange($event)"
        />

        <div
          id="fileHelp"
          class="form-text"
          *ngIf="uploadForm.get('file')?.pristine"
        >
          Choose a valid csv to upload data(max size: 10 MB).
        </div>
        <div *ngIf="uploadForm.get('file')?.value">
          <div *ngIf="uploadForm.get('file')?.hasError('invalidExtension')">
            Invalid file type. Please choose a valid CSV file.
          </div>
          <div *ngIf="!validateRequiredColumns() && missingColumns.length > 0">
            {{ missingColumns }}
          </div>
          <div *ngIf="uploadForm.get('file')?.hasError('maxFileSize')">
            File size exceeds the limit (max size: 10 MB).
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h5>Preview</h5>
        <div *ngIf="csvData">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th *ngFor="let header of csvHeaders">{{ header }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let row of csvData; let rowIndex = index"
                [class.invalid-row]="!isValidRow(row)"
              >
                <td *ngFor="let cell of row">{{ cell }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="isButtonsVisible">
    <button type="button" class="btn btn-link" (click)="cancel()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="upload()"
      [disabled]="!uploadForm.valid"
    >
      Upload
    </button>
  </div>
</form>
