<!DOCTYPE html>
<html lang="en">

<head>
  <title>Forget Password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <div class="container-fulid">
    <div class="row align-items-start">
      <div class="col-1">
        <img class="logo" src="./assets/img/logo/image.png" alt="logo" width="200px" height="50px" >
      </div>
      <div class="col-10" style="padding-top: 100px; ">
        <div class="row align-items-start" style="background-color: #3DCDAF; min-height:590px;">
          <div class="col">
            <div class="row align-items-center"
              style="padding-left: 500px; padding-right: 100px; padding-top: 30px; padding-bottom: 30px;">
              <div class="col-7" style="padding-top:10px;background-color:white; min-height: 530px;">
                <div  class="d-flex justify-content-end">
                <a href="" target="_blank" class="d-flex align-items-end" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x "viewBox="0 0 16 16"  >
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg> 
                </a>
                </div>
                <h2 style="color: #3DCDAF; padding-top: 50px; font-size: 40px;">Reset Password</h2>
                <p style="padding-top: 40px; font-size:23px;">Enter your email id associated with this account</p>

                <input type="email" class="form-control mt-5 custom-text-field bg-light" style="border-top:10px; border-left: 10px; border-right: 10px;;" id="emailId"
                  placeholder="Email id">
                <p style="padding-top:100px; padding-left: 150px; font-size:30px; "><button style=" background-color: #3DCDAF; color: white; border-radius: 10px; border: 10px;">Send email</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p style="margin-top: 20px;">
      Privacy Policy
      Terms and Conditions<br>
      © rovisor, 2023. All rights reserved. v0.0.0123.</p>
  </div>
</body>

</html>