<div class="container-fulid">
  <div class="row align-items-start">
    <div class="col-10" style="padding-top: 100px; padding-left: 100px; padding-right: 100px
    ;">
      <div class="row align-items-start" style="background-color: #3DCDAF; min-height:590px;">
        <div class="col" style="padding-right: 300px;">
          <div class="row align-items-center"
            style="padding-left: 500px; padding-right: 100px; padding-top: 30px; padding-bottom: 30px;">
            <div class="col-5" style="padding-top:10px;background-color:white; min-height: 530px; padding-left: 100px;">
              <div class="d-flex justify-content-end">
                <a href="" target="_blank" class="d-flex align-items-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x "
                    viewBox="0 0 16 16">
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg>
                </a>
              </div>
              <h2 style="color: #3DCDAF; padding-top: 50px; font-size: 40px;">Reset Password</h2>
              <p style="padding-top: 40px; font-size:23px;">Enter your email id associated with this account</p>

              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
                  style="border-top:10px; border-left: 10px; border-right: 10px;padding-top: 80px; font-size: 30px;">
                <p style="padding-top:50px; padding-left: 100px; ">
                  <a href="#" target="_blank">
                    <button
                    style=" background-color: #3DCDAF; color: white; border-radius: 10px; border: 10px; font-size: 30px;">
                    Send email
                  </button>
                  </a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>