<div class="card forgot-password-box">
  <div class="card-body text-dark">
    <div class="text-end">
      <i class="bi bi-x" routerLink="../sign-in"></i>
    </div>
    <h1 class="text-center mb-5 reset">Reset Password</h1>
    <form [formGroup]="forgotPasswordForm">
      <h5 class="mt-5 message">Enter your email id associated with this acount</h5>
      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Email"
        />
        <label for="email">Email address</label>
      </div>
      <div class="row mb-4">
        <div class="col-12 text-center">
          <button
            type="submit"
            class="btn text-white button" 
            [disabled]="!forgotPasswordForm.valid"
            (click)="sendResetPasswordEmail()"
          >
            Send Email
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
