.login-box {
    height: calc(100vh - 200px);
    border-radius: 10px 0px 0px 10px;
}

.password-toggle {
    position: absolute;
    top: 32%;
    right: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    
  }