<div class="row">
    <div class="col">
        <h1>
            Retirement Calculator
        </h1>
        <div class="form-group col-6">
            <div>
            <label  class="label  mt-3">Current age</label>
            <input type="number" class="ms-5 input text-end" required />
          </div>
        <div>
            <label class="label mt-3 " >Retirement age </label>
            <input type="number" class="ms-5 input "/>
        </div>
         <div>
            <label  class="label mt-3">Monthly contribution </label>
            <input type="number" class="ms-5 input"/>
        </div> 
        <div>
            <label class="label mt-3 ">Expected annual return rate </label>
        <input type="number" class="ms-5 input"/>
        </div> 
        <div>
            <label class="label mt-3 ">Current retirement savings </label>
            <input type="number" class="ms-5 input"/>
        </div> 
        </div>
        
    </div>
</div>