.reset-password-box {
    height: calc(100vh - 150px);
    border-radius: 10px;
    min-width: 500px;
}

.password-toggle {
    position: absolute;
    top: 32%;
    right: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
}