/* You can add global styles to this file, and also import other style files */
html, body {
    font-size: 0.825rem;
    height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
}

.bg-green {
    background-color: #1BBC9B;
}

.text-green {
    color: #1BBC9B;
}

.logo {
    height: 50px;
    width: 100px;
}

.btn-green {
    background-color: #1BBC9B;
    border-color: #1BBC9B;
    color: #fff;
}

.btn-green:hover {
    background-color: #16a085;
    border-color: #16a085;
    color: #fff;
}